body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode .container {
    background: #333;
    color: white;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.icon-button {
    background: #007BFF;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon-button i {
    font-size: 18px;
}

.history-actions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilos para la tabla de historial */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #007BFF;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.dark-mode tbody tr:nth-child(even) {
    background-color: #444;
}

th, td {
    width: 33.33%;
}
